body{ 
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
/* navbar */
ul{ 
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

li{ 
    display: inline-block;
    padding: 10px;
    float: right;
    padding: 10px;
}

li a{ 
    float: right;
    text-decoration: none;
    color: black;
}

.logo{ 
    float: left;
    display: block;
    position: absolute;
    left:10px;
}


/* Image cover */

.img{ 
    width: 100%;
    height: 100vh;
    background-image: url(/img/Wallpaper\ Web\ 1.jpg);
    background-size: cover;
    background-position:center ;
    position: relative;
    overflow: hidden;
}

